.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 650px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);    
    background-image:linear-gradient(to top left, rgba(71, 71, 71, 0.5), rgba(124, 124, 124, 0.5));
    backdrop-filter: blur(10px);
    transition: width 1s;
}

.card .card_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card.active{
    flex-direction: row;
    position: absolute;
    align-items: flex-start;
    width: 95vw;
    padding: 0 0 0 1rem;
    z-index: 9999;
}

.card .card_title{
    text-align: center;
}

.card img{
    border-radius: 10px;
}

.card .card_desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card .card_desc p{
    text-align: center;
}

.card .card_desc #categ{
    text-align: end;
    text-align-last: center;
}

.card .card_details{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}