body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/img/background.png");
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    color: rgba(207, 207, 207, 0.8);
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 95vw;
}

.infos{
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);   
    background-image:linear-gradient(to top left, rgba(71, 71, 71, 0.5), rgba(124, 124, 124, 0.5));
    transition: all 0.5s;
}

.button{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover{
    background-color: grey;
}